DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_VERIFY_ROLE_CHANNEL_ID=
API_BASE_URL=http://localhost:3001
WEB_BASE_URL=http://localhost:5173
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
COLLECTION_ADDRESS=GnKJwgLwGnRnLiNTMqZCL6nH8rrGYr1ZU5b
SESSION_TTL_SECONDS=300
